.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-family: "Itim";
}
.Game {
  display: flex;
  justify-content: center;
  height: 90vh;
}
.alignCenter {
  display: flex;
  align-items: center;
}
.gameEnd {
  background-color: gold;
  padding: 20px;
}
.title {
  font-size: 30px;
}
