.App {
  text-align: center;
  font-family: "Itim";
}
.Game {
  display: flex;
  justify-content: center;
  height: 90vh;
}
.alignCenter {
  display: flex;
  align-items: center;
}
.title {
  font-size: 30px;
}
